* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
	font-family: 'Poiret One', sans-serif;
	height: 100vh;
  background: #fff;
  color: #000;
  position: relative;
  overflow: hidden;
  .col-l-6 {
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
    .container {
      text-align: left;
      margin: 10% auto;
      max-width: 100vh;
      padding: 5%;
      p {
        font-size: 20px;
        padding-bottom: 10px;
      }
      h1 {
        line-height: 40px;
        padding-bottom: 10px;
      }
      h2 {
        padding-bottom: 40px;
        font-size: 23px;
      }
      .trigger {
        margin-top: 10px;
        background-color: #000;
        color: #fff;
        font-family: 'Poiret One', sans-serif;
        font-size: 16px;
        display: block;
        padding: 4px 7px 7px;
        border: none;
        border: .5px solid #000;
        cursor: pointer;
        &:focus {
          outline: none !important;
        }
        &:hover {
          transform: scale(1.10);
          font-weight: bold;
        }
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        position: absolute;
        bottom: 5%;
        &:hover {
          transform: scale(1.10);
          font-weight: bold;
        }
        i {
          cursor: pointer;
          font-size: 23px;
          margin-right: 5px;
          color: #4099ff;
          &:hover {
            transform: scale(1.10);
          }
        }
      }
    }
  }
  #particles-js {
    transform: rotate(15deg);
    border-left: .5px solid black;
    height: 200vh;
    width: 150vw;
    position: absolute;
    top: -25%;
    left: 50%;
  }
}
